<section class="components">
    <div class="components-container">
      <h2 class="components-title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span class="taste">TASTE</span> SENSATION
      </h2>
      <p class="components-text">
        At Simply Chocolate, we believe that the secret to exceptional
        chocolate is in the details. From the sourcing of the finest
        ingredients to the careful crafting of each individual piece, every
        step of our process adds up to one exceptional taste sensation.
      </p>
      <ul class="components-list">
        <li class="flip-card flip1">
        <div class="flip-card-inner">
          <div class="flip-card-front chocolate-item">
            <picture>
              <source
                srcset="./img/chocolate.png 1x, ./img/chocolate2x.png 2x"
                media="(max-width: 1199px)"
              />
              <source
                srcset="./img/choco-comp.png 1x, ./img/choco-comp2x.png 2x"
                media="(min-width: 1200px)"
              />
              <img
                src="./img/chocolate.png"
                alt="milk-chocolate"
                class="components-image"
              />
            </picture>
            <p class="card-text choco-card">MILK CHOCOLATE</p>
          </div>
          <div class="flip-card-back">
            <h2 class="back-title">Milk chocolate</h2>
            <div class="btn-list">
              <button type="button" class="btn-dscr">chocolate</button>
              <button type="button" class="btn-ben">the benefits</button>
            </div>
            <p class="back-text">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times.
            </p>
          </div>
        </div>
    </li>
    <li class="flip-card flip3">
      <div class="flip-card-inner">
        <div class="flip-card-front milk-item">
          <picture>
            <source
              srcset="./img/milk.png 1x, ./img/milk2x.png 2x"
              media="(max-width: 1199px)"
            />
            <source
              srcset="./img/milk-comp.png 1x, ./img/milk-comp2x.png 2x"
              media="(min-width: 1200px)"
            />
            <img src="./img/milk.png" alt="milk" class="components-image" />
          </picture>
          <p class="card-text milk-card">MILK</p>
        </div>
        <div class="flip-card-back">
          <h2 class="back-title">Milk</h2>
          <div class="btn-list">
            <button type="button" class="btn-dscr">milk</button>
            <button type="button" class="btn-ben">the benefits</button>
          </div>
          <p class="back-text">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food. Early-lactation milk...
          </p>
        </div>
      </div>
    </li>
    <li class="flip-card flip4">
      <div class="flip-card-inner">
        <div class="flip-card-front nuts-item">
          <picture>
            <source
              srcset="./img/nuts.png 1x, ./img/nuts2x.png 2x"
              media="(max-width: 1199px)"
            />
            <source
              srcset="./img/nuts-comp.png 1x, ./img/nuts-comp2x.png 2x"
              media="(min-width: 1200px)"
            />
            <img src="./img/nuts.png" alt="nuts" class="components-image" />
          </picture>
          <p class="card-text nuts-card">NUTS</p>
        </div>
        <div class="flip-card-back">
          <h2 class="back-title">Nuts</h2>
          <div class="btn-list">
            <button type="button" class="btn-dscr">nuts</button>
            <button type="button" class="btn-ben">the benefits</button>
          </div>
          <p class="back-text">
            Almonds, pistachios, and walnuts are some types of nuts that
            contain healthy nutrients. When eaten as part of a nutrient-dense
            diet, these 9 nuts may offer benefits such as reducing your risk
            of heart disease. They’re a good source...
          </p>
        </div>
      </div>
    </li>
    <li class="flip-card flip2">
      <div class="flip-card-inner">
        <div class="flip-card-front semi-item">
          <picture>
            <source
              srcset="./img/semisweet.png 1x, ./img/semisweet2x.png 2x"
              media="(max-width: 1199px)"
            />
            <source
              srcset="./img/semi-comp.png 1x, ./img/semi-comp2x.png 2x"
              media="(min-width: 1200px)"
            />
            <img
              src="./img/semisweet.png"
              alt="semi-sweet-chocolate"
              class="components-image"
            />
          </picture>
          <p class="card-text semi-card">SEMI-SWEET CHOCOLATE</p>
        </div>
        <div class="flip-card-back">
          <h2 class="back-title">sweet chocolate</h2>
          <div class="btn-list">
            <button type="button" class="btn-dscr">sweet chocolate</button>
            <button type="button" class="btn-ben">the benefits</button>
          </div>
          <p class="back-text">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
            of the best ways to gain an understanding of this type of
            chocolate is to compare it to a different type of chocolate.
            Semisweet is darker than milk chocolate. In a taste...
          </p>
        </div>
      </div>
    </li>
      </ul>
    </div>
  </section>
