<header class="header-page" id="home">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-logo link" href="">
        <span class="header-logo-text1">SIMPLY</span>
        <span class="header-logo-text2"> CHOCOLATE</span>
        <svg class="header-icon-logo" width="21" height="21">
          <use class="" href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <div class="header-thumb-list">
        <ul class="header-list">
          <li class="header-item">
            <a class="header-link current" href="#home">Home</a>
          </li>

          <li class="header-item">
            <a class="header-link" href="#made">How it’s made?</a>
          </li>

          <li class="header-item">
            <a class="header-link" href="#products">Our products</a>
          </li>

          <li class="header-item">
            <a class="header-link" href="#sellers">Top sellers</a>
          </li>

          <li class="header-item">
            <a class="header-link" href="#reviews">Chocolate is loved</a>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="header-soc-list">
      <li class="header-soc-item">
        <a
          href="https://www.instagram.com/"
          class="header-soc-link"
          target="_blank"
        >
          <svg class="header-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a
          href="https://twitter.com/twitter?lang=uk"
          class="header-soc-link"
          target="_blank"
        >
          <svg class="header-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button class="menu-open js-open-menu" type="button">
      <svg class="icon-menu-open" width="21" height="14">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>

  <div class="mob-menu js-menu-container">
    <div class="mob-menu-container">
      <button class="menu-close js-close-menu" type="button">
        <svg class="icon-menu-close" width="12" height="12">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>

      <div class="menu-thumb-list">
        <ul class="mob-menu-list">
          <li class="mob-menu-item">
            <a class="mob-menu-link current" href="#home">Home</a>
          </li>

          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#made">How it’s made?</a>
          </li>

          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#products">Our products</a>
          </li>

          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#sellers">Top sellers</a>
          </li>

          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#reviews">Chocolate is loved</a>
          </li>
        </ul>
      </div>

      <div class="menu-thumb-soc-list">
        <ul class="mob-menu-soc-list">
          <li class="mob-menu-soc-item">
            <a href="" class="mob-menu-soc-link" target="_blank">
              <svg class="mob-soc-icon" width="22" height="22">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mob-menu-soc-item">
            <a href="" class="mob-menu-soc-link" target="_blank">
              <svg class="mob-soc-icon" width="22" height="22">
                <use href="./img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
