
<section class="hero">
  <h1 class="visually-hidden">HERO</h1>
  <div class="container">
    <div class="hero-wrapp">
      <p class="title-hero">
        Treat yourself or a loved one to our finest ingredients for a moment
        of pure delight!
      </p>
      <div class="btn-wrapp">
        <button type="button" class="btn-modal" data-modal-open>
          Buy now
        </button>
        <a href="#made" class="btn-link-section"> How it’s made </a>
        <a href="#foots" class="btn-link-foot">
          scroll down
          <span class="soc-scrol">
            <svg class="icon-scrol" width="28" height="28">
              <use href="./public/icons.svg#icon-2"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
<div class="backdrop-hero is-hidden" data-modal>
  <div class="modal-hero">
    <button type="button" class="modal-hero-btn-close" data-modal-close>
      <svg class="icon-hero-close" width="24" height="24">
        <use href="./public/icons.svg#icon-x"></use>
      </svg>
    </button>
    <h2 class="modal-hero-title"><span class="sp-hero">bUY</span> nOW</h2>
    <div class="hero-modal-wrrap">
      <ui class="modal-list list">
        <li class="modal-item">
          <picture>
            <source
              srcset="
                ./img/img-hero/choco-cips-1x.png 1x,
                ./img/img-hero/choco-cips2x.png  2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/img-hero/kisspng-1x.png 1x,
                ./img/img-hero/kisspng-2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./img/img-hero/kisspng-1x.png"
              alt="chocolate chips"
              width="167"
              height="148"
            />
          </picture>
          <button type="button" class="btn-weight">100 g</button>
        </li>
        <li class="modal-item">
          <picture>
            <source
              srcset="
                ./img/img-hero/c-1.png 1x,
                ./img/img-hero/c-2.png 2x
              "
              media="(min-width:768px)" />
            <source
              srcset="
                ./img/img-hero/kisspng-tabl-1x.png 1x,
                img/img-hero/kisspng-tabl-2x.png 2x
              "
              media="(max-width:767px)" />
            <img
              src="./img/img-hero/kisspng-tabl-1x.png"
              alt="chocolate-nuts"
              width="167"
              height="148"
          /></picture>
          <button type="button" class="btn-weight">200 g</button>
        </li>
        <li class="modal-item">
          <picture>
            <source
              srcset="
                ./img/img-hero/choco-plits-1.png 1x,
                ./img/img-hero/choco-plits-2.png 2x
              "
              media="(min-width:768px)" />
            <source
              srcset="
                ./img/img-hero/transparent-desk-1x.png 1x,
                ./img/img-hero/transparent-desk-2x.png 2x
              "
              media="(max-width:767px)" />
            <img
              src="./img/img-hero/transparent-desk-1x.png"
              alt="chocolate-tiles"
              width="167"
              height="148"
          /></picture>
          <button type="button" class="btn-weight">300 g</button>
        </li>
      </ui>
    </div>
    <form class="hero-form">
      <div class="input-wrrap">
        <label class="hero-label too">
          <span class="sp-label"> Personal information</span>
          <input
            type="text"
            name="name"
            placeholder="Name"
            class="input-hero one go"
          />
        </label>
        <label class="hero-label">
          <input
            type="text"
            name="surname"
            placeholder="Surname"
            class="input-hero one"
        /></label>
      </div>
      <label class="hero-label">
        <span class="sp-label"> Email</span>

        <input
          type="email"
          name="email"
          placeholder="Enter your email"
          class="input-hero"
        />
      </label>
      <label class="hero-label">
        <span class="sp-label">Phone number</span>
        <span class="container-span-phone">
          <span class="wrrap-icon-phone">
            <svg class="icon-ukr" width="24" height="24">
              <use href="./public/icons.svg#icon-Ukraine"></use>
            </svg>
            <span class="namber-hero">+380</span>
          </span>
          <input
            type="tel"
            name="phone"
            placeholder="Phone number"
            class="input-hero phone"
        /></span>
      </label>
      <label class="hero-label">
        <span class="sp-label"> Card number</span>
        <span class="container-span-card">
          <svg class="icon-card" width="32" height="21">
            <use href="./public/icons.svg#MasterCard"></use>
          </svg>
          <input
            type="number"
            name="card number"
            placeholder="Enter card"
            class="input-hero"
          />
        </span>
      </label>
      <label class="hero-label">
        <span class="sp-label"> Comment</span>
        <textarea
          name="comment"
          cols="30"
          rows="10"
          placeholder="Enter text"
          class="hero-textarea"
        ></textarea>
      </label>
      <button type="submit" class="btn-submit-hero">Submit</button>
    </form>
  </div>
</div>
