
<section class="made" id="made">
    <div class="container container-made">
        <h2 class="made-title">How it’s <span class="title-decor">made?</span></h2>
        <div class="wrap-made-basic">
            <div class="made-img-thumb">
                <picture>
                    <source media="(min-width: 1200px)" srcset="./img/made/made-1x.jpg, ./img/made/made-2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./img/made/made_tablet-1x.jpg 1x, ./img/made/made_tablet-2x.jpg 2x">
                    <source media="(max-width: 767px)"
                        srcset="./img/made/mademob-1x.jpg, ./img/made/mademob-2x.jpg 2x">
                    <img src="./img/made/mademob-1x.jpg" alt="image retina" class="img-made">
                </picture>

                <svg class="made-icon" width="35" height="35">
                    <use href="./public/icons.svg#icon-play"></use>
                </svg>

               
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/cJHo7i058uY" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe> -->
            </div>
            <div class="made-wrap">
                <h3 class="about-made-title">Try our chocolates today and discover the perfect balance of flavor</h3>
                <ul class="item made-item">
                    <li class="list made-list">
                        <p class="made-text">Heat the milk in a saucepan without bringing it to a boil. Add sugar and
                            cocoa powder.</p>
                    </li>
                    <li class="list made-list">
                        <p class="made-text">At the same time, prepare a water bath. Melt the butter on it.</p>
                    </li>
                    <li class="list made-list">
                        <p class="made-text">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a
                            silicone spatula so that the mass becomes uniform and silky.</p>
                    </li>
                    <li class="list made-list">
                        <p class="made-text">Heat the mixture over low heat, letting it barely boil.</p>
                    </li>
                    <li class="list made-list">
                        <p class="made-text">Pour the chocolate into special containers (can be replaced with ice
                            molds). Allow to cool and harden.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

