

<section class="products-section" id="products">
    <div class="container">
    <h2 class="products-subtitle"> Our 
        <span class="sub-orange">PRODUCTS</span>
    </h2>
    <div class="slider">
        <ul class="slider-list list">
            <li class="slider-item">
                
                <img class="slider-img" 
                srcset="./img/orange-1x.jpg 1x, ./img/orange-2x.jpg 2x"
                src="./img/orange-1x.jpg" 
                width="230" 
                height="201" 
                alt="orange-Dark chocolate">

                <div class="products-text-block">
                    <h3 class="products-headline">ORANGE </h3>
                    <p class="products-text">Dark chocolate</p>
                    <div class="products-link-block">
                        <a class="products-link link" href="">45 UAH</a>
                    </div>
                </div>
                
            </li>
            <li class="slider-item">
                
                <img class="slider-img"
                srcset="./img/apple&cranberry-1x.jpg 1x,
                        ./img/apple&cranberry-2x.jpg 2x" 
                src="./img/image-chocolate2.jpg" 
                width="230" 
                height="201" 
                alt="APPLE&CRANBERRY-Milk chocolate">

                <div class="products-text-block">
                    <h3 class="products-headline">APPLE&CRANBERRY </h3>
                    <p class="products-text">Milk chocolate</p>
                    <div class="products-link-block">
                        <a class="products-link link" href="">50 UAH</a>
                    </div>
                </div>

            </li>
            <li class="slider-item">
                
                <img class="slider-img"
                srcset="./img/lime&seaSalt-1x.jpg 1x,
                        ./img/lime&seaSalt-2x.jpg 2x" 
                src="./img/image-chocolate3.jpg" 
                width="230" 
                height="201" 
                alt="lime&sea salt-Dark chocolate">

                <div class="products-text-block">
                    <h3 class="products-headline">LIME&SEA SALT </h3>
                    <p class="products-text">Dark chocolate</p>
                    <div class="products-link-block">
                        <a class="products-link link" href="">66 UAH</a>
                    </div>
                </div>

            </li>
            <li class="slider-item">
                
                <img class="slider-img"
                srcset="./img/pineapple-1x.jpg 1x,
                        ./img/pineapple-2x.jpg 2x" 
                src="./img/image-chocolate4.jpg" 
                width="230" 
                height="201" 
                alt="pineapple-Dark chocolate">

                <div class="products-text-block">
                    <h3 class="products-headline">PINEAPPLE </h3>
                    <p class="products-text">Dark chocolate</p>
                    <div class="products-link-block">
                        <a class="products-link link" href="">54 UAH</a>
                    </div>
                </div>

            </li>
            <li class="slider-item">
                
                <img class="slider-img" 
                srcset="./img/classicMilk-1x.jpg 1x,
                        ./img/classicMilk-2x.jpg 2x"
                src="./img/image-chocolate5.jpg" 
                width="230" 
                height="201" 
                alt="Classic-Milk chocolate">

                <div class="products-text-block">
                    <h3 class="products-headline">CLASSIC </h3>
                    <p class="products-text">Milk chocolate</p>
                    <div class="products-link-block">
                        <a class="products-link link" href="">45 UAH</a>
                    </div>
                </div>

            </li>
            <li class="slider-item">
                
                <img class="slider-img"
                srcset="./img/honey-1x.jpg 1x,
                        ./img/honey-2x.jpg 2x" 
                src="./img/image-chocolate6.jpg" 
                width="230" 
                height="201" 
                alt="honey-Milk chocolate">

                <div class="products-text-block">
                    <h3 class="products-headline">HONEY </h3>
                    <p class="products-text">Milk chocolate</p>
                    <div class="products-link-block">
                        <a class="products-link link" href="">50 UAH</a>
                    </div>
                </div>
            </li>
            <li class="slider-item">
                
                <img class="slider-img"
                srcset="./img/roastedFruits-1x.jpg 1x,
                        ./img/roastedFruits-2x.jpg 2x" 
                src="./img/image-chocolate7.jpg" 
                width="230" 
                height="201" 
                alt="Roasted fruits-Dark chocolate">

                <div class="products-text-block">
                    <h3 class="products-headline">ROASTED FRUITS </h3>
                    <p class="products-text">Dark chocolate</p>
                    <div class="products-link-block">
                        <a class="products-link link" href="">66 UAH</a>
                    </div>
                </div>

            </li>
            <li class="slider-item">
                
                <img class="slider-img"
                srcset="./img/classicWhite-1x.jpg 1x,
                        ./img/classicWhite-2x.jpg 2x" 
                src="./img/image-chocolate8.jpg" 
                width="230" 
                height="201" 
                alt="Classic-White chocolate">

                <div class="products-text-block">
                    <h3 class="products-headline">CLASSIK </h3>
                    <p class="products-text">White chocolate</p>
                    <div class="products-link-block">
                        <a class="products-link link" href="">54 UAH</a>
                    </div>
                </div>

            </li>
        </ul>
    </div>
    </div>
</section>