
<section class="top-sellers" id="sellers">
  <div class="container">
      <h2 class="top-sellers-header"><span>Top</span> sellers</h2>
      <div class="top-sellers-wrap">                
          <ul class="top-sellers-list list">
              <li class="top-sellers-list-items"><img class="top-sellers-picture" 
                  src="./img/top-sellers/coffe-nuts-chockolate-mob.jpg"
                  srcset="
                  ./img/top-sellers/coffe-nuts-chockolate-mob.jpg 1x,
                  ./img/top-sellers/coffe-nuts-chockolate-mob-x2.jpg 2x"
                    alt="coffe-nuts-chockolate"
                    width="335"
                    height="464">
              </li>

              <li class="top-sellers-list-items"><img class="top-sellers-picture" 
                  src="./img/top-sellers/black-chocholate-desktop.jpg"
                  srcset="
                  ./img/top-sellers/black-chocholate-desktop.jpg 1x,
                  ./img/top-sellers/black-chocholate-desktop-x2.jpg 2x"
                    alt="black-chocholate"
                    width="335"
                    height="464">
              </li>

              <li class="top-sellers-list-items"><img class="top-sellers-picture" 
                  src="./img/top-sellers/mint-chockolate-mob.jpg"
                  srcset="
                  ./img/top-sellers/mint-chockolate-mob.jpg 1x,
                  ./img/top-sellers/mint-chockolate-mob-x2.jpg 2x"
                    alt="mint-chockolate-mob"  
                    width="335"
                    height="464">
              </li>
              <li class="top-sellers-list-items"><p class="top-sellers-text text-hide-tab">Crazy enough chocolate originates from 
                  a bean just like the coffee bean called Cacao. Cacao has been around for thousands 
                  of years and was first discovered by
                    the Native American tribe called the Mayans.</p></li>
          </ul>

          
          
          <div class="top-sellers-tab-wrap">
              <p class="top-sellers-text text-hide-mob">Crazy enough chocolate originates from 
                  a bean just like the coffee bean called Cacao. Cacao has been around for thousands 
                  of years and was first discovered by
                    the Native American tribe called the Mayans.</p>
              <button  type="button" class="top-sellers-btn "  top-data-modal-open >Buy now</button>
          </div>

  </div>
</section>
<div class="top-seller-backdrop is-hidden" top-data-modal>
  <div class="top-seller-modal">
    <button type="button" class="top-seller-btn-close" top-data-modal-close>
      <svg class="top-seller-icon-close" width="24" height="24">
        <use href="./public/icons.svg#icon-x"></use>
      </svg>
    </button>
    <h2 class="top-seller-title"><span class="sp-top-seller">bUY</span> nOW</h2>
    <div class="top-seller-wrrap">
      <ui class="top-modal-list list">
        <li class="top-seller-modal-item">
          <picture>
            <source
              srcset="
                ./img/top-seller-modal/choco-cips-1x.png 1x,
                ./img/top-seller-modal/choco-cips2x.png  2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/top-seller-modal/kisspng-1x.png 1x,
                ./img/top-seller-modal/kisspng-2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./img/top-seller-modal/kisspng-1x.png"
              alt="chocolate chips"
              width="167"
              height="148"
            />
          </picture>
          <button type="button" class="btn-weight">100 g</button>
        </li>
        <li class="top-seller-modal-item">
          <picture>
            <source
              srcset="
                ./img/top-seller-modal/c-1.png 1x,
                ./img/top-seller-modal/c-2.png 2x
              "
              media="(min-width:768px)" />
            <source
              srcset="
                ./img/top-seller-modal/kisspng-tabl-1x.png 1x,
                ./img/top-seller-modal/kisspng-tabl-2x.png 2x
              "
              media="(max-width:767px)" />
            <img
              src="./img/top-seller-modal/kisspng-tabl-1x.png"
              alt="chocolate-nuts"
              width="167"
              height="148"
          /></picture>
          <button type="button" class="btn-weight">200 g</button>
        </li>
        <li class="top-seller-modal-item">
          <picture>
            <source
              srcset="
                ./img/top-seller-modal/choco-plits-1.png 1x,
                ./img/top-seller-modal/choco-plits-2.png 2x
              "
              media="(min-width:768px)" />
            <source
              srcset="
                ./img/top-seller-modal/transparent-desk-1x.png 1x,
                ./img/top-seller-modal/transparent-desk-2x.png 2x
              "
              media="(max-width:767px)" />
            <img
              src="./img/top-seller-modal/transparent-desk-1x.png"
              alt="chocolate-tiles"
              width="167"
              height="148"
          /></picture>
          <button type="button" class="btn-weight">300 g</button>
        </li>
      </ui>
    </div>

    
    <div class="swiper">         
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img class="slider-img" 
          src="./img/top-sellers/chocolate-pices-mob-modal.png"
          srcset="
          ./img/top-sellers/chocolate-pices-mob-modal.png 1x,
          ./img/top-sellers/chocolate-pices-mob-modal-x2.png 2x"
          
            alt="chocholate">
          
          <button  type="submit" class="btn-weight">100 g</button>
      </div>
        <div class="swiper-slide">
          <img class="slider-img" 
          src="./img/top-sellers/milk-chocolate-mob-modal.png" 
          srcset="
          ./img/top-sellers/milk-chocolate-mob-modal.png 1x,
          ./img/top-sellers/milk-chocolate-mob-modal-x2.png 2x,"
          alt="chocholate">
          <button  type="submit" class="btn-weight">200 g</button></div>
        <div class="swiper-slide">
          <img class="slider-img" 
          src="./img/top-sellers/chocolate-plate-mob-modal.png"
          srcset="
          ./img/top-sellers/chocolate-plate-mob-modal.png 1x,
          ./img/top-sellers/chocolate-plate-mob-modal-x2.png 2x,"
  
            alt="chocholate">
          <button  type="submit" class="btn-weight">300 g</button></div>
  
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    
      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->
    
      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
  </div>

    <form class="top-seller-form">
      <div class="top-seller-input-wrrap">
        <label class="top-seller-lable too">
          <span class="top-span-label"> Personal information</span>
          <input
            type="text"
            name="name"
            placeholder="Name"
            class="top-seller-modal-input top-one top-go"
          />
        </label>
        <label class="top-seller-lable">
          <input
            type="text"
            name="surname"
            placeholder="Surname"
            class="top-seller-modal-input top-one"
        /></label>
      </div>
      <label class="top-seller-lable">
        <span class="top-span-label"> Email</span>

        <input
          type="email"
          name="email"
          placeholder="Enter your email"
          class="top-seller-modal-input"
        />
      </label>
      <label class="top-seller-lable">
        <span class="top-span-label">Phone number</span>
        <span class="top-container-span-phone">
          <span class="wrrap-icon-phone">
            <svg class="icon-ukraine" width="24" height="24">
              <use href="./public/icons.svg#icon-Ukraine"></use>
            </svg>
            <span class="top-phone-number">+380</span>
          </span>
          <input
            type="tel"
            name="phone"
            placeholder="Phone number"
            class="top-phone top-seller-modal-input"
        /></span>
      </label>
      <label class="top-seller-lable">
        <span class="top-span-label"> Card number</span>
        <span class="container-span-card">
          <svg class="top-seller-icon-card" width="32" height="21">
            <use href="./public/icons.svg#MasterCard"></use>
          </svg>
          <input
            type="number"
            name="card number"
            placeholder="Enter card"
            class="top-seller-modal-input"
          />
        </span>
      </label>
      <label class="top-seller-lable">
        <span class="top-span-label"> Comment</span>
        <textarea
          name="comment"
          cols="30"
          rows="10"
          placeholder="Enter text"
          class="top-seller-textarea"
        ></textarea>
      </label>
      <button type="submit" class="btn-submit-top-seller">Submit</button>
    </form>
  </div>
</div>