:root
{--orange-accent:#FD9222;
--active-buton:#FCF1E0;
--main-black:#111111;
--main-white:#FAFAFA;
--dark-purpule:#1E1823;
--color-main: #111111;
  --color-secondary: #1e1823;
  --color-auxiliary: #fd9222;
  --coror-bg: #e2e2e2;

}
* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin: 0;
    background-color: var(--main-white);
  }
  ul,
  h1,
  h2,
  h3,
  h4,
  p {
    padding: 0;
    margin: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .container{
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  }
  .link {
    text-decoration: none;
  }
  .list {
    list-style: none;
  }

/* -------------------------TOP-SELLERS------------------------- */
.top-sellers-wrap{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.top-sellers-header {
    margin-bottom: 32px;
    color: var(--main-black);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;

}
.top-sellers-header>span{ 
  color: var(--orange-accent);

}
.top-sellers-list{
  display: flex;
  flex-direction: column;
}

.top-sellers-list-items {
  margin-bottom: 20px;
}

.top-sellers-list-items:first-child{
  order:-1;


}
.top-sellers-list-items:nth-of-type(2) {
  display: none;
}

.top-sellers-list-items:last-child {
order: -1;
}

.top-sellers-text {
  margin-bottom: 32px;
  max-width: 306px;
  color: var(--main-black);
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.29;

letter-spacing: -0.02em;
order: -1;


}
.text-hide-mob{
  display: none;
}
.top-sellers-btn{
  padding:12px 28px ;
  color: #ffffff; 
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;

  background-color: var(--orange-accent);
  border-radius: 100px;
  border: none;
  margin-bottom: 72px;
  transition: color 250ms linear, background 250ms linear;
 
}
.top-sellers-btn:is(:hover, :focus){
background-color: var(--active-buton);
color:var(--orange-accent) ;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 375px;
  }

}
@media screen and (min-width: 768px)  {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  

  .top-sellers-header {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1.17;
  }
  .top-sellers-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: revert;
    justify-content: space-between;
    margin-bottom: 32px;
    /* gap: 16px; */
}
.top-sellers-picture{
  min-width: 344px;
  max-height: 464px;
}
.top-sellers-tab-wrap{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
}
.top-sellers-btn{
  padding:14px 40px ;
  font-size: 18px;
  margin-bottom: 0;
}
.top-sellers-text {
  margin-bottom: 0px;
}
.text-hide-tab{
display: none;
}
.text-hide-mob{
display: block;
}
.top-sellers-list-items{
  margin-bottom: 0;
}
.top-sellers-list-items:nth-of-type(4) {
  display: none;
}
  }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .top-sellers-list-items:nth-of-type(2) {
    display: block;
  }
  .top-sellers-list-items:last-child {
    order: 0;
}

.top-sellers-tab-wrap{
  align-items: center;
}
.top-sellers-picture{
  min-width: 368px;
}
.top-sellers-list-items:first-child {
  order: 1;
}
.top-sellers-text{
  min-width: 407px;
}

.top-sellers-list-items:nth-of-type(4) {
  display: none;
}

}


/* -----------------------MODAL --------------------------------*/
.top-seller-backdrop{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.top-seller-icon-close {
  stroke: #111111;
  transition: stroke 250ms linear;
}
.top-seller-btn-close:is(:hover, :focus) .top-seller-icon-close {
  stroke: var(--color-auxiliary);
}
.top-modal-list {
  display: flex;
  gap: 40px;
}
.top-seller-modal {
  position: absolute;
  top: 20px;
  left: 50%;
  max-width: 311px;
  min-height: 100%;
  padding: 32px 24px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fafafa;
  border-radius: 15px;
  transform: translateX(-50%);
}

.top-sellers-btn{
  cursor: pointer;
}

.top-seller-btn-close {
  position: absolute;
  right: 14px;
  top: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 250ms linear;
}
.top-seller-btn-close:is(:hover, :focus) {
  background-color: #fcf1e0;
}
.top-seller-title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.sp-top-seller {
  color: var(--color-auxiliary);
}
.top-seller-wrrap {
  max-width: 231px;
  min-height: 284px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}


.btn-weight {
  padding: 8px 29px;
  margin-top: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  background-color: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  transition: background 250ms linear;
}
.btn-weight:is(:hover, :focus) {
  background-color: var(--color-auxiliary);

}


/*--------------------- FORM ---------------------------*/
.top-seller-form {
  display: flex;
  flex-direction: column;
}
.top-seller-input-wrrap {
  margin-bottom: 18px;
}
.top-span-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #000000;
}
.top-seller-modal-input {
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 14px 18px;
  background-color: #fafafa;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  outline: none;
  transition: border-color 250ms linear;
}

.top-seller-modal-input::placeholder {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.top-seller-lable {
  margin-bottom: 18px;
}
.top-go {
  margin-bottom: 14px;
}
.container-span-card {
  position: relative;
}
.top-seller-icon-card {
  position: absolute;
  top: 50%;
  right: 12px;
  z-index: 1;
  transform: translateY(-50%);
}
.top-phone {
  padding: 10px 29px 11px 106px;
}
.wrrap-icon-phone {
  position: absolute;
  left: 18px;
  top: 50%;
  display: flex;
  align-items: center;
  width: 74px;
  background: #fafafa;
  box-shadow: 1.5px 0px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transform: translateY(-50%);
}
.top-container-span-phone {
  position: relative;
}
.top-phone-number {
  margin-left: 8px;
}
.top-seller-textarea {
  width: 100%;
  height: 91px;
  padding: 14px 18px;
  resize: none;
  background-color: #fafafa;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  outline: none;
  transition: border-color 250ms linear;
}
.btn-submit-top-seller {
  display: block;
  max-width: 109px;
  padding: 12px 28px;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  border: none;
  background-color: var(--color-auxiliary);
  color: #ffffff;
  cursor: pointer;
  border-radius: 100px;
  transition: color 250ms linear, background 250ms linear;
}
.top-seller-modal-input:placeholder-shown:focus,
.top-seller-textarea:placeholder-shown:focus {
  border-color: var(--color-auxiliary);
  
}
.top-seller-textarea::placeholder{
  color: rgba(64, 64, 64, 0.3);
}
.btn-submit-top-seller:is(:hover, :focus) {
  color: var(--color-auxiliary);
  background-color: #fcf1e0;
  
}
.top-seller-wrrap{
  position: absolute;
}
.top-modal-list{
  display: none;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .top-seller-modal-item {
    text-align: center;
    min-width: 231px;
    min-height: 257px;
    padding: 32px 32px 28px 32px;
    background: #ffffff;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
  }
}

@media screen and (min-width: 768px) {
  
  .top-seller-modal-input.top-phone{
    padding-left: 165px;
  }
  .top-seller-backdrop .swiper {
    display: none;
  }

  .top-seller-wrrap{
    position: relative;
  }
  .top-modal-list{
    display: flex;
    position: relative;}

  .top-seller-input-wrrap {
    display: flex;
    align-items: end;
    margin-bottom: 0;
  }
  .too {
    margin-bottom: 18px;
    margin-right: 21px;
  }
  .top-one {
    min-width: 246px;
  }
  .top-go {
    margin-bottom: 0;
  }
  .top-seller-modal-input {
    padding: 22px 24px;
    height: 66px;
  }
  .span-label {
    font-size: 14px;
    line-height: 1.29;
  }

  .top-seller-modal-input::placeholder {
    font-size: 18px;
    line-height: 1.2;
  }
  .phone {
    padding: 21px 99px 21px 177px;
  }
  .wrrap-icon-phone {
    width: 125px;
    left: 24px;
    background: #fafafa;
    box-shadow: 2.72246px 0px 0px rgba(0, 0, 0, 0.1);
  }
  .top-phone-number {
    margin-left: 18px;
  }
  .icon-card {
    right: 24px;
  }
  .top-seller-textarea {
    padding: 22px 24px;
    height: 137px;
  }
  .top-seller-textarea::placeholder {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
  }
  .btn-submit-top-seller {
    min-width: 133px;
    padding: 14px 40px;
  }
  .top-seller-modal {
    max-width: 609px;
    padding: 48px;
  }
  .top-seller-icon-close {
    width: 28px;
    height: 28px;
  }
  .top-seller-btn-close {
    right: 24px;
    top: 24px;
  }
  
  .top-seller-title {
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
  }
  .top-seller-wrrap {
    max-width: 100%;
    min-height: 100%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .top-seller-modal-item {
    min-width: 160px;
    padding: 24px 20px 18px 20px;
    text-align: center;
    background: #ffffff;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
  }
  .top-modal-list {
    gap: 16px;
  }
  .btn-weight {
    padding: 8px 27px;
    margin-top: 14px;
  }
}
/* ---------------------------SWIPER----------------------- */
.swiper {
  width: 231px;
  height: 257px;
  background-color: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  margin-bottom: 32px;
}
.swiper-wrapper{
  position: relative;

}
.swiper-slide{
  display: flex;
  /* text-align: center; */
  /* max-width: 100%; */
  /* margin-bottom: 30px; */
  flex-direction: column;
  align-items: center;
}
.swiper-wrapper .swiper-slide{
  display: flex;
}

.swiper .swiper-pagination-bullet{   
  width: 13px;
  height: 13px;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius,50%);
  background:rgba(17, 17, 17, 0.1);;
  opacity: 2;
}
.swiper .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--orange-accent);
    width: 28px;
    height: 13px;
    display: inline-block;
    border-radius: 7px;
  }
.slider-img{
  margin-bottom: 16px;
}



